API_ID=19638390 # get this value from my.telegram.org
API_HASH=ff2861aa26b33c0bead7ec26ab30e04f # get this value from my.telegram.org
BOT_TOKEN=5561908781:AAEJFOFf6fpSJeqxWOaakHFvH8dfPCHX9oo # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://Devarora0987:#Dev12345@cluster0.razivtc.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001797910328 # get this value from in your log group 
MUSIC_BOT_NAME=【 🇩‌𝐀𝐑𝐊 🇩‌𝐄𝐕𝐈𝐋 🇲​𝐔𝐒𝐈𝐂🇧​​​​​𝐎𝐓 】▄︻┻═┳一 # your music bot name 
STRING_SESSION=BQCDzTozXmHc0nqxaJFZF9sLq2KnmdZbra986_UhtcHiYfcEZ_wuuJE54y5KwA6IBUA_sL6caiutgvIA-2Mncw_HinYlXgyclFiY6rlgNvRsKkDJjjQA_f70WAqcXAoIaKI6Z6jGwonlfsKlZhCjD328edawZLQqO9XqscPB2KkqeL2SidMdNOiBFqUzeXAhscUl38jom7YuP5siW53qNgtUa6lNPPtZtfMYhkuy_Hye_D0X00m7D40kYsqNsxXT58LhOBzhSetpViq5q6Hx4vUDyE9R14CQauf6TUNZO6xCcPYqDLGchC6x8gR85SpcFFi0RmYz0TdGkOy4N1LxymXLAAAAAVI7FzsA # get this value from @yukkistringbot
